aiogram==2.7
aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
Babel==2.8.0
certifi==2020.4.5.1
chardet==3.0.4
emoji==0.5.4
idna==2.9
multidict==4.7.5
pytz==2019.3
requests==2.23.0
urllib3==1.25.9
yarl==1.4.2
