aiogram==2.7
aiohttp==3.8.5
async-timeout==3.0.1
attrs==19.3.0
Babel==2.9.1
certifi==2022.12.7
chardet==3.0.4
emoji==0.5.4
idna==2.9
multidict==4.7.5
pytz==2019.3
requests==2.23.0
yarl==1.4.2
